.block-abl {
  border: 1px solid #949599;
  height: 200px;
  width: display;
  background-size: display;
  overflow: hidden;

}
.bio-image img{
    align: left;
    border-radius:50%;
    margin-left: 60%;
    margin-top: center;

.bio-content{
    text-align:left;
    color: #f5ec6b;

.color-text { color: #f5ec6b;
               }
