.color-text { color: #f5ec6b;
              text-align: left;
              padding-right: 20px;
               }
.color-text-title { color: #ffc107;
                    font-family: 'Bangers', cursive;
                    font-size: 160px;
                    background: url(letter.gif) no-repeat;
                    padding-left: 65px;
                    background-image: url(../brand/dumplings.png);
                    background-repeat: no-repeat;
                    background-size: 60px;
                    }

body {
    background-color: #eaffe4;
    background-image: url(../brand/what2.png);
     background-repeat: repeat;
   }

