
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
{% extends "base.html" %}
{% block content %}
	<section>
		<div class="grid">
			{% for item in posts%}
                    <figure>
                         <img src="../{{item.miniature}}" style="width: 300px; height: 350px;" alt="Cringe" id="myImg"/>
                         <figcaption>
                             <strong>{{ item.date }}</strong>
                             <a href="/{{link}}/{{item.autor_id}}"><p><strong>@{{ item.autor.name }}</strong></p></a>
                             <a href="../{{item.file}}"><p><strong>посмотреть картинку в новой вкладке (полностью)</strong></p></a>
                        </figcaption>
                    </figure>
            {% endfor %}
        </div>
	</section>
{% endblock %}
</body>