
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
{% extends "base.html" %}
{% block content %}
	<section>
		<div class="grid">
			{% for item in posts%}
                    <figure>
                         <img src="../{{item.miniature}}" style="width: 300px; height: 350px;" alt="Cringe" id="myImg"/>
                         <figcaption>
                             <strong>{{ item.date }}</strong>
                             <a href="/{{link}}/{{item.autor_id}}"><p><strong>@{{ item.autor.name }}</strong></p></a>
                             <a href="../{{item.file}}"><p><strong>посмотреть картинку в новой вкладке (полностью)</strong></p></a>
                             <p><strong>Посчитали кринжом: </strong>{{item.liker|length}}</p>
                             <form action="" method="post" enctype=multipart/form-data>
                                 {% if current_user.is_authenticated %}
                                     {% if not user.is_liked(item) %}
                                            <a class="btn btn-outline-primary" href="/like/{{item.id}}">кринж</a></p>
                                      {% else %}
                                            <a class="btn btn-outline-primary" href="/dislike/{{item.id}}">уже не кринж</a></p>
                                     {% endif %}
                                 {% endif %}

                             </form>
                        </figcaption>
                    </figure>
            {% endfor %}
        </div>
	</section>
{% endblock %}
</body>