{% extends "base.html" %}

{% block content %}
<div class="text-dark"><center><h1>Войти</h1></center></div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label(class="text-dark") }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label(class="text-dark") }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label(class="text-dark") }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-warning", value="Войти") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}