{% extends "base.html" %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/posts_style.css') }}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<div class="container portfolio">
	<div class="row">
		<div class="col-md-12">
			<div class="heading">
              <h2>{{you}}</h2>
			</div>
		</div>
	</div>
	<div class="bio-info">
		<div class="row">
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-12">
						<div class="bio-image">
							<img src="../{{avatar}}" alt="image" width="60%"/>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="bio-content">

					{% if info %}
					<div class="wrap-block">
						<div class="block"><h3>{{info}}</h3></div>
					</div}>
					{% else %}
						<h3>Нет информации</h3>
					{% endif %}
					{% if my_id == user_id %}
					<p><a class="btn btn-warning my-2 my-sm-0" href="{{url_for('edit')}}">Редактировать</a></p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid gedf-wrapper" style="border: 1px, solid:#545b62, border-radius: 8px">
	{% if my_id == user_id %}
		<form action="" method="post" enctype=multipart/form-data>
					{{ form.hidden_tag() }}
					{{ form.csrf_token }}
		  <!-- Post /////-->
		<div  class="card text-center" style="background-color: #91c843;">
			<div class="card-header">
				Мои публикации
			</div>
			<div class="card-body">


						<div class="form-group">
							<div class="custom-file">
								{{form.file_url(placeholder="file", class="form-control-file", id="customFile")}}
											<label class="custom-file-label" for="customFile">Загрузить изображение</label>
							</div>
						</div>



				<div class="btn-toolbar justify-content-between">
					<div class="btn-group">
						<center>{{form.submit(type="submit", class="btn btn-warning", paseholder="share", value="Опубликовать")}}</center>
					</div>

					</div>
				</div>
			</div>
		</div>
		</form>
	{% endif %}
	<!--end post-->
	<br>
	 <!--posted-->
	{% for item in posts%}
        <div class="card gedf-card" style="background-color: #91c843;">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <img class="rounded-circle" width="50" src="../{{avatar}}" alt="">
                        </div>
                        <div class="ml-2">
                            <div class="h5 m-0 color-text">{{you}}</div>
							<div class="h7 text-muted">@{{id}}</div>
                        </div>
                    </div>
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-h"></i>
                            </button>
							{% if my_id == user_id %}
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
									<div class="h6 dropdown-header"></div>
									<a class="dropdown-item" href="/post_edit/{{ item.id }}">Редактировать</a>
									<a class="dropdown-item" href="/post_delete/{{ item.id }}">Удалить</a>
								</div>
							{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ item.date }}</div>
                <p class="card-text color-text">
                    {{item.text}}
                </p>
                {% if item.file%}
                     <img width="450" src="../{{item.file}}" alt="post_image">
                {% endif %}
            </div>
        </div>
	{% endfor %}
      <!--end posted-->
</div>
{% endblock %}