{% extends "base.html" %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_style.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/posts_style.css') }}" />

<style>
p.first-paragraph {
  text-indent: 1em;
}
</style>
<body>
<p></p>
<div class="container-fluid gedf-wrapper">
	{% for item in posts%}
        <div class="card gedf-card" style="background-color: #343a40;">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <img class="rounded-circle" width="50" src="../{{item.autor.avatar}}" alt="">
                        </div>
                        <div class="ml-2">
                            <div class="h5 m-0 color-text"><a href="/{{link}}/{{item.autor_id}}">{{ item.autor.name }}</a></div>
                            <div class="h7 text-muted">@{{item.autor_id}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ item.date }}</div>
                     <img width="450" src="../{{item.file}}" alt="post_image">
            </div>
        </div>
	{% endfor %}
      <!--end posted-->
</div>
{% endblock %}